<div class="main-content">
  <div class="list-content">
    <collapsable-item *ngFor="let auth of authors" [item]="auth"></collapsable-item>
  </div>
</div>

<!-- <iframe src="https://processing.org/" style="height:2000px;width:100%;"></iframe>

<iframe src="https://cf44-2800-bf0-2a7-e51-793e-f29b-ef3d-f3d3.sa.ngrok.io/" id="myIframe"></iframe>

<iframe src="https://cf44-2800-bf0-2a7-e51-793e-f29b-ef3d-f3d3.sa.ngrok.io/" style="height:2000px;width:100%;"></iframe>

<iframe src="https://cf44-2800-bf0-2a7-e51-793e-f29b-ef3d-f3d3.sa.ngrok.io/" frameborder="0" scrolling="no" onload="resizeIframe(this)"></iframe>




<script>
    var iframe = document.getElementById("myIframe");
    iframe.onload = function () {
        iframe.style.height = iframe.contentWindow.document.body.scrollHeight + 'px';
    }
</script>
<iframe src="https://processing.org/" id="myIframe"></iframe>

<iframe src="https://processing.org/" sandbox="allow-same-origin"
        onload="this.style.height=(this.contentWindow.document.body.scrollHeight+20)+'px';">
</iframe>

<iframe class="iframe" src="https://cf44-2800-bf0-2a7-e51-793e-f29b-ef3d-f3d3.sa.ngrok.io/"></iframe> -->