.main-content{
    background-color: #FF82CC;
}

.list-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 1200px;
    margin: 0px auto;
}

*{
    font-family: "Anderson", Arial, Helvetica, sans-serif;
}